@import "tailwindcss";


html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}


.spark {
  position: fixed;
  pointer-events: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: radial-gradient(circle, #ff1e1e, #8b0000);
  box-shadow: 0 0 6px 2px rgba(255, 0, 0, 0.7);
  z-index: 9999;
  animation: spark-burst 0.6s ease-out forwards;
}

@keyframes spark-burst {
  0% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(var(--x), var(--y)) scale(0.2);
  }
}